@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;500&family=Roboto+Slab:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


header {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;


}

.menu {

    background: #D8D8D8;
    height: 650px;
    width: 450px
}

.menu ul {

    margin-top: 60px
}

nav ul li {
    font-size: 16pt;
    font-weight: 500;
    text-decoration: none;
    display: inline;
    margin: 20px;
    padding-top: 60.5px;

}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.texto {
    position: absolute;
    margin-right: 49em;
    margin-top: 254px;


}

.texto h1 {
    font-size: 50pt;
    font-weight: 700;
    color: #999999;

}

button {
    width: 253px;
    height: 63px;
    margin-top: 150px;
    background: #069;
    color: #fff;
    border: none;

}

article {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.work {

    width: 65rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}


section {

    margin-top: 150px;

}

.coluna1 {
    background: #fff;
}

section h1 {
    font-size: 80px;
    font-weight: 700;
    color: #999999;
    margin-bottom: 40px
}

.coluna1-conteudo {
    margin: 30px;
    color: #999999;

}

.coluna1-conteudo p {
    margin: 10px
}

.coluna2-conteudo {
    margin: 30px;
    color: #999999;

}

.coluna2-conteudo p {

    margin: 20px 0;

}

.coluna2-conteudo a {
    text-decoration: none;
    background: #9999;
    color: #444;
    padding: 10px;
    border-radius: 50px;
    margin-right: 20px;
    font-size: 10pt
}
